<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New publisher added</title>
    <link rel="stylesheet" href="../resources/header.css" th:href="@{/resources/header.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments :: header}"></div>
<div th:replace="~{fragments :: menu-bar}"></div>
<div class="content main-container">
    <h2>Adding new publisher confirmed</h2>
    <p>New publisher has been successfully added!</p>
</div>
</body>
</html>