<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register to Our website</title>
</head>
<body>
<header th:insert="~{fragments :: header}"></header>
<div>
    <form action="register_confirmation.html" th:action="@{register}" th:object="${newUser}" method="post">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}"><br>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <label for="email">Email address:</label>
        <input type="text" id="email" th:field="*{email}"><br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}"></p>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}"><br>
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" id="confirmPassword" th:field="*{confirmPassword}"><br>
        <input type="submit" value="register">
    </form>
</div>
</body>
</html>